<div class="container_1">
  <button mat-raised-button class="odd" color="primary">First</button>
  <button mat-raised-button class="even" color="primary">Second</button>
  <button mat-raised-button class="odd" color="primary">Third</button>
</div>
<div class="container_2">
  <button mat-raised-button class="even" color="primary">Fourth</button>
  <button mat-raised-button class="odd" color="primary">Fifth</button>
  <button mat-raised-button class="even" color="primary">Sixth</button>
  <button mat-raised-button class="odd" color="primary">Seventh</button>
</div>
